body {
  font-family: Helvetica;
  text-align: center;
}

 .page-top {
background-image: url("/Users/elainaprice/Desktop/Broadway/Resources/CSS/Images/the-flatiron-building.png");
}

.header {
  font-size: 70px;
  font-weight: Bold;
  color: white;
}

.designed-in-newyork {
  font-size: 23px;
  color: white;
  font-weight: bold;
  background-image: url("/Users/elainaprice/Desktop/Broadway/Resources/CSS/Images/the-flatiron-building.png");
}

.link {
  font-size: 18px;
  color: white;
}
